/* App.css */
.App {
  text-align: center;
  /* Additional styling for your app */
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8; /* Or any color you prefer */
  border-bottom: 1px solid #e1e1e1; /* For a subtle separator */
  margin-bottom: 20px; /* Spacing between the toolbar and the chart */
}

.chart {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: block;
}