.timeFrameSelector {
    display: flex;
    justify-content: space-around;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.timeFrameButton {
    background: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.timeFrameButton:hover {
    background-color: #e2e2e2;
}

.timeFrameButton.selected {
    border-color: #666;
    background-color: #ddd;
}
